* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
/* ----------------------------- Grid Container ----------------------------- */

.grid-container {
  display: grid;
}

.grid-container > *:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
