@import "/rtl.css";
:root {
  --bg: #1f2430;
  --bg2: #2d3444;
  --text: #ffffff;
  --fontSize: 16px;
  --primary: #4fbe99;
  --cardSize: 250px;
}
.dark {
  background: var(--bg);
  color: var(--text);
}
.light {
  background: var(--text);
  color: var(--bg);
}

@font-face {
  src: url("/data/fonts/Rubik-VariableFont_wght.ttf");
  font-family: Rubik;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--fontSize);
  font-family: "Rubik", sans-serif;
  padding: 5rem 50px;
  background: var(--bg);
  color: var(--text);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px 0;
}
h3 {
  font-weight: 300;
}
p,
pre {
  font-size: 1.5rem;
  filter: brightness(80%);
  padding: 20px 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
hr {
  width: 60%;
  margin: 1rem auto;
  /* border-width: 0.1px; */
  filter: brightness(0.5);
}

body > :first-child {
  font-size: 3rem;
  text-align: center;
}

table td,
th {
  padding: 0.5rem 5rem;
  padding-left: 1rem;
  text-align: left;
  width: 200px;
}
img {
  max-width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: fit-content;
  margin: 0 auto;
}
/* --------------------------------- Presets -------------------------------- */
.center {
  display: grid;
  place-items: center;
  text-align: center;
}
/* Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  gap: 3rem;
  width: 60%;
  margin: 5rem auto;
}
.grid > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.grid h3 {
  filter: brightness(80%);
  font-weight: 200;
  font-size: 2rem;
}

button {
  background: var(--primary);
  color: var(--text);
  border: none;
  outline: none;
  padding: 6px 16px;
  border-radius: 2px;
  font-size: 0.875rem;
  min-width: 64px;
  text-transform: uppercase;
  font-weight: 600;
  transition: transform 0.2s ease,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.75;
  cursor: pointer;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
button:hover {
  filter: brightness(90%);
}
button:active {
  transform: translateY(2px);
}

.box,
.container {
  position: relative;
  resize: both;
  overflow: auto;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  filter: brightness(90%);
  z-index: -1;
}
.card {
  margin: 5px;
  background: #d4f2c4;
  font-size: 1rem;
  padding: 15px 0;
  text-align: center;
  color: #000000;
  border-radius: 2px;
}
.card:nth-child(1) {
  background: #f5e0e9;
}
.card:nth-child(2) {
  background: #a9e2ea;
}
.card:nth-child(3) {
  background: #f7c8ab;
}
.card:nth-child(4) {
  background: #fee8b4;
}
.card:nth-child(5) {
  background: #d4f2c4;
}
/* --------------------------------- Custom --------------------------------- */
.logo {
  width: 150px;
  animation: float 6s ease-in-out infinite;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}
nav::after {
  content: "";
  display: block;
  height: 0.5px;
  width: 100%;
  background: var(--text);
  filter: brightness(30%);
  opacity: 0.2;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
}
nav ul li {
  padding: 7px 15px;
}
nav ul li:hover {
  background: var(--bg2);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
