/* @import "/rtl.css"; */
:root {
  --bg: #1f2430;
  --bg2: #2d3444;
  --text: #ffffff;
  --fontSize: 16px;
  --primary: hsl(160, 46%, 53%);
  --primary-dark: hsl(160, 46%, 33%);
  --red: hsl(0, 81%, 69%);
  --red-dark: hsl(0, 81%, 59%);
  --cardSize: 250px;
}
.dark {
  background: var(--bg);
  color: var(--text);
}
.light {
  background: var(--text);
  color: var(--bg);
}

@font-face {
  src: url("/data/fonts/Rubik-VariableFont_wght.ttf");
  font-family: Rubik;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--fontSize);
  /* font-family: "Rubik", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5rem 50px;
  background: var(--text);
  color: var(--bg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px 0;
}
h3 {
  font-weight: 300;
}
p,
pre {
  font-size: 1rem;
  filter: brightness(80%);
  padding: 20px 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
hr {
  width: 60%;
  margin: 1rem auto;
  /* border-width: 0.1px; */
  filter: brightness(0.5);
}

h1 {
  font-size: 3rem;
  text-align: center;
}

table td,
th {
  padding: 0.5rem 5rem;
  padding-left: 1rem;
  text-align: left;
  width: 200px;
}
img {
  max-width: 100%;
}
form {
  margin: 20px auto;
  padding: 15px 30px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
input {
  position: relative;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  display: inline-block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--bg);
  background-color: #eeeeee;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "Rubik", sans-serif;
}

input[type="radio"] {
  display: inline;
}
form .control {
  margin: 1.5rem 0;
}
form .control label {
  text-transform: capitalize;
  margin-bottom: 6px;
  display: inline-block;
}
form .control small {
  opacity: 0.5;
}
fieldset {
  padding: 5px 0;
  /* border: 0.5px solid #eeeeee; */
  border: none;
}
fieldset legend {
  font-weight: bold;
}
input::after {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  color: red;
}
input[type="tel"]::after {
  content: "Telephone";
}
.control .title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}
/* --------------------------------- Presets -------------------------------- */
.center {
  display: grid;
  place-items: center;
  text-align: center;
}
/* Colors */
.danger {
  background-color: var(--red);
}
/* Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  gap: 3rem;
  width: 60%;
  margin: 5rem auto;
}
.grid > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.grid h3 {
  filter: brightness(80%);
  font-weight: 200;
  font-size: 2rem;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--primary);
  color: var(--text);
  border: none;
  outline: none;
  padding: 6px 16px;
  border-radius: 2px;
  font-size: 0.875rem;
  min-width: 64px;
  text-transform: uppercase;
  font-weight: 600;
  transition: transform 0.2s ease,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.75;
  cursor: pointer;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
button:hover,
button:focus {
  filter: brightness(90%);
}
button:active {
  transform: translateY(2px);
}
button[type="reset"] {
  background-color: var(--red);
}
input {
  padding: 7px 5px;
}
.box,
.container {
  position: relative;
  resize: both;
  overflow: auto;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  filter: brightness(90%);
  z-index: -1;
}
.card {
  margin: 5px;
  background: #d4f2c4;
  font-size: 1rem;
  padding: 15px 0;
  text-align: center;
  color: #000000;
  border-radius: 2px;
}
.card:nth-child(1) {
  background: #f5e0e9;
}
.card:nth-child(2) {
  background: #a9e2ea;
}
.card:nth-child(3) {
  background: #f7c8ab;
}
.card:nth-child(4) {
  background: #fee8b4;
}
.card:nth-child(5) {
  background: #d4f2c4;
}
/* --------------------------------- Custom --------------------------------- */
.logo {
  width: 150px;
  animation: float 6s ease-in-out infinite;
}

nav {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  justify-content: space-between;
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05); */
  z-index: 999;
}
nav::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #000000;
  opacity: 0.1;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  gap: 10px;
}
nav a {
  display: block;
  padding: 7px 15px;
  border-radius: 2px;
  cursor: pointer;
}
nav a:hover {
  background: #eeeeee;
}
nav .menu {
  position: relative;
}
nav .menu ul {
  display: none;
  position: absolute;
  top: 130%;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

  width: 200px;
  justify-content: flex-start;
  z-index: 99;
  padding: 10px 0;
}

nav .menu:focus-within ul {
  display: flex;
  flex-direction: column;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
